body{
    background-color: #fcfcfc;
    display:grid;
    grid-template-columns:30% 70%;
    padding:0px;
    margin:0px;
    display:grid;
    grid-template-rows:15% 85% ;
}

#control{

}